{
  "env": {
    "browser": true,
    "es6": true,
  },
  "extends": [
    "airbnb",
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "semi": ["error", "never"],
    "comma-dangle": "off",
    "new-cap": "off",
    "capitalized-comments": "off",
    "no-confusing-arrow": "off",
    "global-require": "off",
    "class-methods-use-this": "off",
    "function-paren-newline": ["error", "consistent"],
    "import/no-extraneous-dependencies": "off",
    "import/newline-after-import": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
  },
}
