.c-social-links {
  line-height: 1;
  height: 1em;
  position: relative;
}

.c-social-links__service {
  margin: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.66s all ease-in-out;

  &--active {
    opacity: 1;
    transition-delay: 0.66s;
    animation: link-appear 0.66s ease-in-out;
    animation-delay: 0.66s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }
}

@keyframes link-appear {
  0% {
    transform: translateY(120%);
  }

  100% {
    transform: none;
  }
}

.c-social-link {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.c-social-link__icon {
  display: inline-block;
  margin: 0 0.5em 0 0;
  padding: 0.125em;
  font-size: 0.85em;
  width: 1em;
  height: 1em;
  background: $color-social-background;
  fill: #fff;
  border-radius: 0.1em;
}
