.c-player {
  --postyen-background-color: #{$color-digital-light};
  --postyen-foreground-color: #{$color-digital-dark};

  @include brand-font;
  color: var(--postyen-foreground-color);

  &--traditional {
    --postyen-background-color: #{$color-traditional-light};
  }

  &--games {
    --postyen-background-color: #{$color-games-light};
  }
}
