.o-scene--brb {
  z-index: 2;
}

.c-brb {
  @include brand-font;
  font-size: 2em;

  background: url('../assets/images/brb-background.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.c-brb__yen {
  float: right;
  height: 100%;
  width: 100%;
  background: url('../assets/images/brb-yen.png');
  background-size: contain;
  background-repeat: no-repeat;
  shape-outside: polygon(55% 68%, 33% 100%, 100% 100%, 100% 0%, 55% 0%);
}

.c-brb__wrapper {
  padding: 2em 1.5em;
  height: 100%;
  max-width: 70%;
  text-align: right;
}

.c-brb__title {
  font-size: 2em;

  &:last-child {
    margin-bottom: 0;
  }
}

.c-brb__countdown {
  @include base-font;
  line-height: 1;
  font-size: 0.9em;
}

.c-brb__timer {
  margin: 0;
}

.c-brb__section {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.55);
}
