.c-chat {
  padding-left: $chat-offset-left;
  padding-top: $chat-offset-top;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;

  > * {
    flex-grow: 1;
  }
}
