.o-scene--player {
  z-index: 1;
}

.c-player-background {
  background: url('../assets/images/overlay-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.c-player {
  width: $player-width;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.c-player__header {
  @include brand-font;
  font-size: 2rem;
  padding: 0 1rem 0 7rem;
  height: 12%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.c-player__content {
  flex-grow: 1;
}

.c-player__footer {
  @include brand-font;
  font-size: 2rem;
  padding: 0 1rem 0 7rem;
  height: 6%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
