.c-chat {
  position: absolute;
  overflow: hidden;
  top: 22%;
  width: 18%;
  padding: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;

  > * {
    flex-grow: 1;
  }
}

.c-chat__wrapper {
  padding: 0.25em;
  color: #000;
}

.c-chat-item {
  font-size: 0.95em;
  margin: 0 0 0.75em;
  animation: message-popin 0.5s ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 0.15s;
  animation-fill-mode: both;

  word-break: break-word;
}

.c-chat-message__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.c-chat-message__user {
  word-break: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  @include brand-font;
  font-size: 1.2em;
  margin: 0.3em 0;
  flex-basis: 0 0 auto;
  order: 3;
}

.c-chat-message__badge {
  flex-basis: 0 0 auto;
  align-self: flex-end;
  order: 1;
  margin: 0 0.1em;
}

.c-chat-message__separator {
  order: 2;
}

.c-chat-message__message {
  background: rgba(255, 255, 255, 0.4);
  padding: 0.3em 0.4em;
  font-size: 0.9em;
  letter-spacing: 0.02em;
}

@keyframes message-popin {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
