.c-notification {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  width: 100% - $player-width;
  height: 21.5%;
  padding: 1.5%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;

  font-size: 0.8em;
  background: rgba(0, 0, 0, 0.55);

  opacity: 0;
  visibility: hidden;
  transition: 0.8s all ease-in-out;
}

.c-notification--visible {
  opacity: 1;
  visibility: visible;
}

.c-notification__bat {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  width: 50%;
}

.c-notification__message {
  position: relative;
  z-index: 2;
  text-align: center;

  font-size: 1.2em;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #fff;

  span {
    color: $color-badge-background;
  }

  &::after {
    content: attr(data-shadow);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
    color: rgba(0, 0, 0, 0.85);
    -webkit-text-stroke: 0.2em rgba(0, 0, 0, 0.85);
  }
}
