.c-schedule {
  margin-top: -0.15em;
}

.c-schedule__time {
  margin: 0 0.5em;

  &:last-child {
    margin-right: 0;
  }
}

.c-schedule-time {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 0 0 auto;
}

.c-schedule-time__day {
  @include base-font;
  font-variant: small-caps;
  line-height: 0;
  font-size: 0.9em;
  margin-bottom: 0.6em;
}

.c-schedule-time__time {
  flex-grow: 1;
  font-size: 1.2em;
}
