.c-chat {
  position: absolute;
  top: 82px;
  bottom: 20px;
  right: 0;
  left: auto;
  overflow: hidden;

  width: $sidebar-chat-width;
}

.c-chat__wrapper {
  padding: 0 12px 70px 15px;
}

.c-chat__placeholder {
  min-height: 890px;
  flex-shrink: 0;
  flex-grow: 1;
}

.c-chat-item {
  margin: 1em 0;

  word-break: break-word;
}
