.c-envelope {
  clip-path: path(
    'M 1654,157 a 123,123 0 0,0 246,0 a 123,123 0 0,0 -246,0 L 0 0 L 1920,0 L 1920,1080 L0,1080 L 0,0 z'
  );
}

.c-envelope__sidebar {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  height: 100%;
  width: $sidebar-width;
  background: var(--postyen-background-color);
  transition: background 0.6s ease-in-out;
}

.c-envelope__name {
  position: absolute;
  right: -42px;
  top: -26px;
  animation: rotate 30s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
