.c-postmark-stamp {
  transition: 0.6s ease-in-out all;
  visibility: hidden;
  opacity: 0;
}

.c-postmark--digital {
  .c-postmark-stamp--digital {
    visibility: visible;
    opacity: 1;
  }
}

.c-postmark--traditional {
  .c-postmark-stamp--traditional {
    visibility: visible;
    opacity: 1;
  }
}

.c-postmark--games {
  .c-postmark-stamp--games {
    visibility: visible;
    opacity: 1;
  }
}
