.c-status {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  width: 1300px;
  height: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.c-status__friends {
  width: 147px;
  height: 126px;
  position: relative;
}

.c-status__friend {
  position: absolute;
  vertical-align: bottom;
  transform: translateY(100%);
  transition: 0.23s all ease-out;
  transition-delay: 0s;
}

.c-status__message {
  padding: 15px 0;
}

%active-friend {
  transition-delay: 0.45s;
  transform: translateY(0);
}

.c-status--digital {
  .c-status__friend--digital {
    @extend %active-friend;
  }
}

.c-status--traditional {
  .c-status__friend--traditional {
    @extend %active-friend;
  }
}

.c-status--games {
  .c-status__friend--games {
    @extend %active-friend;
  }
}
