.c-brb {
  font-size: 2em;
  padding: 2em 1.5em;
  width: 70%;
  right: auto;
  text-align: right;
}

.c-brb__title {
  @include brand-font;
  font-size: 2em;

  &:last-child {
    margin-bottom: 0;
  }
}

.c-brb__countdown {
  @include base-font;
  line-height: 1;
  font-size: 0.9em;
}

.c-brb__section {
  padding-bottom: 1.5rem;
  padding-right: 3em;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.55);

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}
