@use 'sass:color';

$base-font-size: 30px;
$base-line-height: 1.5;
$base-letter-spacing: 0;
$base-font-family: Copywrityen, sans-serif;

$brand-line-height: 0.9;
$brand-letter-spacing: -0.03em;
$brand-font-family: Handwrityen, sans-serif;

$font-weight-normal: 500;
$font-weight-bold: 800;

$width: 1920px;
$height: 1080px;

$global-drop-shadow: none;

$color-base: #fff;

@font-face {
  font-family: 'Copywrityen';
  src: url('./assets/fonts/copywrityen.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Handwrityen';
  src: url('./assets/fonts/handwrityen.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@mixin base-font {
  font-family: $base-font-family;
  letter-spacing: $base-letter-spacing;
  line-height: $base-line-height;
}

@mixin brand-font {
  font-family: $brand-font-family;
  font-weight: $font-weight-normal;
  line-height: $brand-line-height;
  letter-spacing: $brand-letter-spacing;
  text-shadow: $global-drop-shadow;
}

@import '../../style/reset';

.o-scene--brb {
  width: $width;
  height: $height;
  background: green;
}

.c-brb {
  font-size: 2em;
  padding: 2em 1.5em;
  width: 70%;
  right: auto;
  text-align: right;
  filter: drop-shadow(0 6px 0 color.scale(#000, $alpha: -66%));
}

.c-brb__title {
  @include brand-font;
  font-size: 2em;

  &:last-child {
    margin-bottom: 0;
  }
}

.c-brb__countdown {
  @include base-font;
  line-height: 1;
  font-size: 0.9em;
}

.c-brb__section {
  padding-bottom: 1.5rem;
  padding-right: 3em;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.55);

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.c-brb__social,
.c-brb__schedule {
  @include brand-font;
}
