@use '../settings' as *;

.Badge {
  display: inline-block;
  vertical-align: middle;
  max-width: 1.65em;
  margin: 0 0.25em;
}

.Message {
  font-size: 0.95em;
  margin: 0.75em 0.25em;
  animation: message-popin 0.5s ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 0.15s;
  animation-fill-mode: both;

  word-break: break-word;

  &__Header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__User {
    word-break: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    @include brand-font;
    font-size: 1.2em;
    margin: 0.3em 0;
    flex-basis: 0 0 auto;
    order: 3;
  }

  &__Badge {
    flex-basis: 0 0 auto;
    align-self: flex-end;
    order: 1;
    margin: 0 0.1em;
  }

  &__Text {
    background: rgba(255, 255, 255, 0.4);
    padding: 0.3em 0.4em;
    font-size: 0.9em;
    letter-spacing: 0.02em;
  }
}

@keyframes message-popin {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
