:root {
  --cheer-color: #fff;
}

%emote {
  display: inline-block;
  height: 1em;
  width: auto;
  /* stylelint-disable-next-line */
  aspect-ratio: 1 / 1;
}

.o-icon {
  margin-right: 0.3em;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.o-emote {
  @extend %emote;
}

.o-jumbomoji {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.o-jumbomoji .o-emote {
  /*
	 * xsplit needs to update its embedded browser
	 * before we can let the flexbox size this
	 */
  width: 3em;
  height: 3em;
}

.o-cheer {
  display: inline-block;
  color: var(--cheer-color);

  &__cheermote {
    @extend %emote;
  }
}
