:root {
  --chat-message-header-background: #ce4fd9;
  --chat-message-header-color: #30084d;
}

.c-chat-message {
  font-size: 1.35em;
  border-radius: 12px;
  background: #fff;
  color: #30084d;
  overflow: hidden;
  @include global-drop-shadow;
}

.c-chat-message__header,
.c-chat-message__message {
  padding: 15px;
}

.c-chat-message__header {
  background: var(--chat-message-header-background);
  color: var(--chat-message-header-color);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 80px;
}

.c-chat-message__badge {
  flex-shrink: 0;
  margin: -1em 10px -1em 0;

  .o-emote {
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
  }
}

.c-chat-message__stamp {
  position: absolute;
  top: 2px;
  right: 2px;
}

.c-chat-message__usericon {
  width: 42px;
  height: 42px;
}
