@use './settings' as *;

@font-face {
  font-family: 'Copywrityen';
  src: url('./assets/fonts/copywrityen.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Handwrityen';
  src: url('./assets/fonts/handwrityen.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@import '../../style/reset';
