@font-face {
  font-family: 'Copywrityen';
  src: url('../assets/fonts/copywrityen.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Handwrityen';
  src: url('../assets/fonts/handwrityen_alt.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@mixin base-font {
  font-family: $base-font-family;
  letter-spacing: $base-letter-spacing;
  line-height: $base-line-height;
}

@mixin brand-font {
  font-family: $brand-font-family;
  font-weight: $font-weight-normal;
  line-height: $brand-line-height;
  letter-spacing: $brand-letter-spacing;
  text-shadow: $global-drop-shadow;
}
