$base-font-size: 20px;
$base-line-height: 1.5;
$base-letter-spacing: 0;
$base-font-family: Copywrityen, sans-serif;

$brand-line-height: 0.9;
$brand-letter-spacing: -0.03em;
$brand-font-family: Handwrityen, sans-serif;

$font-weight-normal: 500;
$font-weight-bold: 800;

$width: 1920px;
$height: 1080px;
$player-width: 81.75%;

$color-base: #fff;

$chat-offset-left: $player-width;

$global-drop-shadow: 0 2px 2px rgba(67, 94, 119, 0.5);

@import 'typography';
@import 'reset';

@import 'objects/o-icon';

@import 'components/c-layer';
@import 'components/c-chat';
@import 'components/c-cheer';
@import 'components/c-twemoji';
@import 'components/c-twitch-emote';
@import 'components/c-twitch-badge';
@import 'components/c-social-links';
@import 'components/c-countdown-timer';
@import 'components/c-schedule';
@import 'components/c-notifications';

@import 'scenes/scene';
@import 'scenes/player';
@import 'scenes/brb';
