@use 'sass:color';

@mixin global-drop-shadow {
  filter: drop-shadow(0 6px 0 color.scale(#502866, $alpha: -30%));
}

$base-font-size: 20px;
$base-line-height: 1.5;
$base-letter-spacing: 0;
$base-font-family: Copywrityen, sans-serif;

$brand-line-height: 0.9;
$brand-letter-spacing: -0.03em;
$brand-font-family: Handwrityen, sans-serif;

$font-weight-normal: 500;
$font-weight-bold: 800;

$width: 1920px;
$height: 1080px;

$sidebar-width: 342px;
$sidebar-chat-width: 385px;

$color-base: #fff;

$color-digital-light: #cdb9e2;
$color-digital-dark: #30084d;
$color-traditional-light: #b0f0e5;
$color-games-light: #ffd9ea;

$global-drop-shadow: none;

@import 'typography';
@import 'reset';

@import 'objects/o-scene';
@import 'objects/o-layer';
@import 'objects/o-icon';

@import 'overlays/postyen/components/c-twemoji';
@import 'overlays/postyen/components/c-twitch-emote';
@import 'overlays/postyen/components/c-envelope';
@import 'overlays/postyen/components/c-chat';
@import 'overlays/postyen/components/c-chat-message';
@import 'overlays/postyen/components/c-status';
@import 'overlays/postyen/components/c-postmark';
@import 'overlays/postyen/components/c-speech-bubble';
@import 'overlays/postyen/components/c-notifications';

@import 'overlays/postyen/scenes/player';
