$base-font-size: 30px;
$base-line-height: 1.5;
$base-letter-spacing: 0;
$base-font-family: Copywrityen, sans-serif;

$brand-line-height: 0.9;
$brand-letter-spacing: -0.03em;
$brand-font-family: Handwrityen, sans-serif;

$font-weight-normal: 500;
$font-weight-bold: 800;

$width: 1920px;
$height: 1080px;
$player-width: 81.75%;

$color-base: #fff;
$color-social-background: #d19ac5;
$color-badge-background: #d19ac5;

$chat-offset-left: $player-width;
$chat-offset-top: 12%;
$chat-message-offset: 10px;

$global-drop-shadow: 0 2px 2px rgba(67, 94, 119, 0.5);

@import 'typography';
@import 'reset';

@import 'objects/o-scene';
@import 'objects/o-layer';
@import 'objects/o-icon';

@import 'overlays/yendraws/components/c-chat';
@import 'overlays/yendraws/components/c-twemoji';
@import 'overlays/yendraws/components/c-twitch-emote';
@import 'overlays/yendraws/components/c-twitch-badge';
@import 'overlays/yendraws/components/c-social-links';
@import 'overlays/yendraws/components/c-countdown-timer';
@import 'overlays/yendraws/components/c-schedule';
@import 'overlays/yendraws/components/c-notifications';

@import 'overlays/yendraws/scenes/player';
@import 'overlays/yendraws/scenes/brb';
